.site-icon {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-flex;
}

.icon-menu {
    background-image: url(/images/cj.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 10px;
}